.timer {
	width: 90%;
	max-width: 800px;
	background: var(--color-white);
	border-radius: 1rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.timer__wrapper {
	padding: 3rem;
}

.timer__controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3rem;
}

button,
.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background: var(--color-red);
	color: var(--color-white);
	padding: 1.25rem 2.5rem;
	font-size: 2.4rem;
	font-family: inherit;
	line-height: 1;
	border-radius: 3rem;
}

button:hover,
.button:hover {
	cursor: pointer;
}

.button--blue {
	background: var(--color-blue);
}
.button--green {
	background: var(--color-green);
}

.timer__clock {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-red);
	padding: 3.5rem 0 1rem;
	border-radius: 3rem;
	text-align: center;
	color: var(--color-white);
	font-size: 20rem;
	line-height: 1;
	font-weight: 700;
}
