/* PostCSS Normalize */
@import-normalize;

/**
 * Fix fonts that render as bold in Firefox
 */

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 400;
}

/**
   * Firefox specific rule
   */

@-moz-document url-prefix() {
	body {
		font-weight: lighter !important;
	}
}

/* CSS Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: 'Josefin Sans', sans-serif;
}

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

/* CSS Variables */
:root {
	--color-red: #ed1c24;
	--color-blue: #466ea3;
	--color-green: #52a123;
	--color-white: #fff;
	--color-light-grey: #ecedef;
	--color-med-grey: #738692;
}

/* Wrapper */
.wrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	min-height: 100vh;
	background: var(--color-light-grey);
}
